*,
*::before,
*::after {
    font-family: Overpass;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.table {
    width: 80%;
    margin: 50px auto ;
    border-collapse: collapse;
}

.table-head .row th{
    border-bottom: 1px solid #1C1C1C;
    padding: 28px;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
}

.table-body .row td{
    padding: 28px;
    border-bottom: 1px solid rgba(28, 28, 28, 0.3);
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
}

.table-head .row th:first-child{
    padding-left: 37px;
}

.table-head .row th:last-child{
    padding-right: 55px;
}

.table-body .row td:first-child{
    padding-left: 37px;
}

.table-body .row td:last-child{
    padding-right: 55px;
}

.table-body .row:last-child td{
    border-bottom: none;
}

.img-checkbox{
    height: 20px;
    width: 20px;
}

input[type="checkbox"],  .checked {
    display: none;
}

input[type="checkbox"]:checked + .unchecked {
    display: none;
}

input[type="checkbox"]:checked ~ .checked{
    display: inline;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}